<h1>Service Employee</h1>
<div>
    <ul>
        <li  *ngFor='let employee of employees'> {{ employee.name }} | {{ employee.age }} ans <!-- <a (click)="/employee-detail/{id}">Details</a></li> -->
    </ul>
</div>
<p>
    explication d'un observable.<br>
    en partant du service<br>
    1) On fait une requette HTTP GET à une API ou une DB<br>
    2) On reçoit une réponse qui est un Observable qu'on cast dans un array<br>
      2.1) Utiliser une get interface(), ici employee.ts/IEmployee qui mappe les données attendu dans un [] ->  return this.http.get IEmployee[] (this._url) et avant dans la déclaration de la methode on lui precise bien getEmployeesByApi(): Observable IEmployee[] -... (éwè typescript oblige !);<br>
    3) Dans le component qui en a besoin, on .subscribe à l'observable,<br>
      3.1) Pour subscibe, il faut passé par une fonction qui assigne à une variable local les données comme ceci : <br> this._employeeService.getEmployeesByApi()
        .subscribe(data => this.employees = data);
        le premier data est le parametre de ma fonction, le second est le corps des données, au milieu ma variable local employees déclaré plus haut<br>
    4) On l'assigne à une variable local<br>

    Pour utiliser une api, on a besoin du HttpClientModule, il suffit d'importer dans app.module.ts import - HttpClientModule - from '@angular/common/http' puis dans imports, puis ensuite injecter import - HttpClient - from '@angular/common/http'; dans le service qui en a besoin, en prenant soin de l'injecter dans le constructor du service
     constructor(private http: HttpClient) - -
     <br>
     <br><br>

    La petite histoire memotechnique avec le journalisme :<br>
     - l'API ou la base de donnée représenterai une grosse ligne d'information brute<br>
     - Le service lui représenterai mediapart, il reçoit l'info brute et le met en page<br>
     - Ceux qui veulent lire représenterai nos components dans lesquels on veut se servire de ces informations, s'inscrive (.subscribe) a la mise en page qu'a fait mediapart.<br>
     - une fois la mise en page reçu à la maison (dans le component qu'on veut), on l'assigne à une variable local<br>
     - Et Paf !<br>

     PRECISION : CERTAINS CHARACTERE ECHAPEE PCK C'EST RELOUD DONC ATTENTION A LA RELECTURE, NOTAMENT SUR LES DECLARATIONS DES OBSERVABLES
</p>
